:root > * {
    --md-primary-fg-color: #4CAF7D;
    --md-primary-fg-color--light: #4CAF7D;
    --md-primary-fg-color--dark: #4CAF7D;
    --md-accent-fg-color: #F4A261;
    --md-accent-fg-color--light: #F4A261;
    --md-accent-fg-color--dark: #F4A261;
    --md-default-bg-color: #232622;
}

[data-md-color-scheme="default"] {
  --md-default-bg-color: #FAFAF7;
}

.md-typeset__table {
  width: 100%;
}

.md-typeset__table table:not([class]) {
  display: table
}

code { font-family: 'JetBrains Mono', monospace; }